[submodule "core"]
	path = core
	url = https://www1.am.uni-erlangen.de/git/festung-core
	branch = development
[submodule "advection"]
	path = advection
	url = https://www1.am.uni-erlangen.de/git/festung-advection
[submodule "hdg_advection"]
	path = advection_hdg
	url = https://www1.am.uni-erlangen.de/git/festung-hdg_advection
[submodule "advection_implicit"]
	path = advection_implicit
	url = https://www1.am.uni-erlangen.de/git/festung-advection_implicit
[submodule "darcy_swe_2dv"]
	path = darcy_swe_2dv
	url = https://www1.am.uni-erlangen.de/git/festung-darcy_swe_2dv
[submodule "darcy_2dv"]
	path = darcy_2dv
	url = https://www1.am.uni-erlangen.de/git/festung-darcy_2dv
[submodule "swe_2dv"]
	path = swe_2dv
	url = https://www1.am.uni-erlangen.de/git/festung-swe_2dv
[submodule "swe"]
	path = swe
	url = https://www1.am.uni-erlangen.de/git/festung-swe
[submodule "swe_transport"]
	path = swe_transport
	url = https://www1.am.uni-erlangen.de/git/festung-swe_transport
[submodule "transport"]
	path = transport
	url = https://www1.am.uni-erlangen.de/git/festung-transport
[submodule "swe_inf"]
	path = swe_inf
	url = https://www1.am.uni-erlangen.de/git/festung-swe_inf
[submodule "diffusion"]
	path = diffusion
	url = https://www1.am.uni-erlangen.de/git/festung-diffusion
[submodule "swe_inverse"]
	path = swe_inverse
	url = https://www1.am.uni-erlangen.de/git/festung-swe_inverse
[submodule "template"]
	path = template
	url = https://www1.am.uni-erlangen.de/git/festung-template
[submodule "advection-diffusion"]
	path = advection-diffusion
	url = https://www1.am.uni-erlangen.de/git/festung-adv-diff.git
[submodule "cahn-hilliard"]
	path = cahn-hilliard
	url = https://www1.am.uni-erlangen.de/git/festung-cahn-hilliard.git
