[submodule "core"]
	path = core
	url = https://github.com/FESTUNG/core.git
	branch = master 
[submodule "advection"]
	path = advection
	url = https://github.com/FESTUNG/advection.git
	branch = master
[submodule "advection_hdg"]
	path = advection_hdg
	url = https://github.com/FESTUNG/advection_hdg.git
	branch = master
[submodule "advection_implicit"]
	path = advection_implicit
	url = https://github.com/FESTUNG/advection_implicit.git
	branch = master
[submodule "darcy_swe_2dv"]
	path = darcy_swe_2dv
	url = https://github.com/FESTUNG/darcy_swe_2dv.git
	branch = master
[submodule "darcy_2dv"]
	path = darcy_2dv
	url = https://github.com/FESTUNG/darcy_2dv.git
	branch = master
[submodule "swe_2dv"]
	path = swe_2dv
	url = https://github.com/FESTUNG/swe_2dv.git
	branch = master
[submodule "diffusion"]
	path = diffusion 
	url = https://github.com/FESTUNG/diffusion.git
	branch = master
[submodule "template"]
	path = template
	url = https://github.com/FESTUNG/template.git
	branch = master
